h3{
   color:crimson;
   background-color: bisque;
   /* max-width: 50px; */
   text-align: center;
}
p{
   background-color: cyan;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: large;
   text-decoration: solid yellow;

}