nav ul{
   display: flex;
}
nav li{
   list-style: none;
   margin-right: 20px;
   padding-right: 0 5px ;
}
nav li:hover{
   background-color: brown;
   /* margin: 10px; */
}
nav li{
   text-decoration: none;
   color:black
}
.imge{
   height: 400px;
   background-image: url('./pictures/picture1.jpg');
   border-image-width: 150px;
}
.gazi{
   text-align: center;
   text-decoration: solid darkblue;
   font-size: large 80px;
}
/* img  */
.style{
  border-bottom: 30px;
}
/* paragraph  */
.blogs{
   background-color: bisque;
}